!/.github/actions/*/package-lock.json
.DS_Store
.idea/
.npmrc
.nyc_output
.pnp.js
*.cache
*.log
/.changelog
/.eslintcache
/.github/actions/*/node_modules
/.package.json
/browser-polyfill.js
/browser.js
/build
/codemods/*/lib
/codemods/*/node_modules
/node_modules
/packages/*/LICENSE
/packages/*/node_modules
/runtime.js
build
coverage/
coverage-unit/
dist
node_modules
package-lock.json
.yalc
.yalc.lock
starters/express/yalc.lock
starters/next/yalc.lock

#vscode extension
.vscode/snipsnap.code-snippets

# Automated things like the typedoc
generated/

# Turborepo
.turbo
storybook-static/

# Yarn 2
# https://stackoverflow.com/questions/62456078/yarn-install-leads-to-cannot-find-module-yarn-berry-js
.yarn/*
.pnp.*
# Keep those in the repo to have a share version
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Yarn yarn-plugin-entrypoint-lockfiles
yarn.*.lock
!starters/*/yarn.*.lock

# Express in Vercel
# api folder is genertaed by copying dist
# @see https://vercel.com/guides/using-express-with-vercel#standalone-express
starters/express/api
