!/.github/actions/*/package-lock.json
.DS_Store
.idea/
.npmrc
.nyc_output
.pnp.js
.yarn/build-state.yml
.yarn/cache
.yarn/unplugged
*.cache
*.log
/.changelog
/.eslintcache
/.github/actions/*/node_modules
/.package.json
/browser-polyfill.js
/browser.js
/build
/codemods/*/lib
/codemods/*/node_modules
/node_modules
/packages/*/LICENSE
/packages/*/node_modules
/runtime.js
build
coverage/
coverage-unit/
dist
node_modules
package-lock.json
.yalc
.yalc.lock
starters/express/yalc.lock
starters/next/yalc.lock

#vscode extension
.vscode/snipsnap.code-snippets

# Automated things like the typedoc
generated/

# Turborepo
.turbo
storybook-static/
